body {
  width: 960px;
  margin: 0 auto;
}

/*.center{
	margin:auto;
	width:70%;
	background-color:#b0e0e6;
	text-align:center;
}*/

.center_error{
	margin:auto;
	width:70%;
	background-color:#FF0000;
	text-align:center;
}


#left-box{
  	border-style:solid;
  	border-width:1px;
  	width:215px;
  	height:350px; 
}

#content_1, #content_2, #content_3{
  	border-style:solid;
  	border-width:1px;
  	width:585px;
  	height:350px;
  	position:absolute;
  	left:245px;
  	top:69px;
  	font-size:80%;
  	padding-left:100px;
}

#content_1, #content_2 {
  	overflow-y: scroll;  
}

.resultsTable, th, td{
	/*	border: 1px solid black;	*/
	padding-left:10px;

}

.resultsTable{
	border-collapse:collapse;
	width:80%;
}

th{
	background-color:#77d42a;
	color:white;
}

.even{
	background-color:#D3D3D3;
}

IMG.displayed {
  display: block;    
  margin-right: auto; 
  padding-left:5px;
  padding-top:5px;      
  padding-bottom:5px;      

}

#dev_1{
  border-style:solid;
  border-width:1px;
}

.menu_div ul{
    padding:0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#FFF;
    list-style:none;
    text-indent:15px;
}

.menu_div ul li{
    background:#B5B5B5;    
    line-height:28px;
    border-bottom:1px solid #333;
}

.menu_div ul li a{
    text-decoration:none;
    color:#FFF;
    display:block;
}

.menu_div ul li a:hover{
	background:#c0c0c0;    
}

.menu_div ul li#active{
    background:#d40203;
}

#top_padding{
    padding:10px;
    background:#707070;    

}

#pack_size {
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	border:0px solid #d83526;
	padding:5px 9px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fe1a00), color-stop(100%, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	background:-ms-linear-gradient( top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	color:#ffffff;
	display:inline-block;
	text-shadow:0px 0px 2px #b23e35;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #f29c93;
 	-moz-box-shadow:inset 1px 1px 0px 0px #f29c93;
 	box-shadow:inset 1px 1px 0px 0px #f29c93;
}

#pack_size:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ce0100), color-stop(100%, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	background:-ms-linear-gradient( top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}

#pack_size:active {
	position:relative;
	top:1px;
}

input.submit {
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	border:0px solid #268a16;
	padding:5px 9px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #77d42a), color-stop(100%, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	background:-ms-linear-gradient( top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	color:#ffffff;
	display:inline-block;
	text-shadow:0px 0px 2px #aade7c;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #caefab;
 	-moz-box-shadow:inset 1px 1px 0px 0px #caefab;
 	box-shadow:inset 1px 1px 0px 0px #caefab;
}

input.submit:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #5cb811), color-stop(100%, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	background:-ms-linear-gradient( top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}

input.submit:active {
	position:relative;
	top:1px;
}

#total{
	font-weight:bold;
}

#stockList{
	width: 50px;
  	padding-left:10px;
	border:1px solid #FFFFFF;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #77d42a), color-stop(100%, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	background:-ms-linear-gradient( top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	color:#ffffff;
	display:inline-block;
	text-shadow:0px 0px 2px #aade7c;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #caefab;
 	-moz-box-shadow:inset 1px 1px 0px 0px #caefab;
 	box-shadow:inset 1px 1px 0px 0px #caefab;

}

#tick{
	color:#d40203;
}

#topbar{
	background:#d40203;

  	width:585px;
  	height:350px;

}

#debug_info{
    position:absolute;
    bottom:0;
    right:0;
    color:#FFFFFF;
	background:#d40203;
  	padding-left:5px;
  	padding-top:5px;      
  	padding-bottom:5px;      
  	padding-right:5px;      

}